Section 1

In [1]:
#Assign an integer to the variable, then print it.
x = 5
print(x)

5

In [2]:
#Assign an integer to the variable, then print it.
x = "go ahead"
print(x)

go ahead

In [3]:
#3. Assign True or False to the variable below then print it.
x = True
print(x)

True

In [4]:
#4. Using type() function assign the type of the variable to answer_1 = 15, then print it.
answer_1 = 15
x = type(answer_1)
print(x)

<class 'int'>

In [5]:
#5. Using type() function assign the type of the variable to answer_2 = “Hallo”, then print it.
answer_2 = "Hallo"
x = type(answer_2)
print(x)

<class 'str'>

In [6]:
#6. Put the following values into different variables and then between the type of each variable : 12.3 , “Welcome” , [1,2,3] , {1,2,3} , “123”
x1 = 12.3
x2 = "Wlecome"
x3 = [1,2,3]
x4 = {1,2,3}
x5 = "123"
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))

<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'str'>

Section 2

In [7]:
#Append new string in the middle of a given string
s1 ="Ault"
s2 = "Kelly"
s3 = s1[:2] + s2 + s1[2:]
s3

'AuKellylt'

In [8]:
#How to reverse a sentence in Python input by User ?
#let s3 input sentence
s4 = s3[::-1]
s4

'tlylleKuA'

In [9]:
#Get the first character of the string txt
s4.startswith("t")

True

In [10]:
#Get the characters from index 2 to index 4 (llo)
txt = "Hello World"
first_char = txt[0]
llo = txt[2:5]
llo

'llo'

In [11]:
#Convert the value of txt to upper case.
txt.upper()

'HELLO WORLD'

In [12]:
#Convert the value of txt to lower case. 
txt.lower()

'hello world'

Section 3

In [13]:
#Reverse this list 
list1 = [100,200,300,400]
list1_reversed = list1[::-1]
list1_reversed

[400, 300, 200, 100]

In [14]:
#Print the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [15]:
#Change the value from "apple" to "kiwi", in the fruits list.
fruits[0] = "kiwi"
fruits

['kiwi', 'banana', 'cherry']

In [16]:
#Use the insert method to add "lemon" as the second item in the fruits list
fruits.insert(1,"lemon")
fruits

['kiwi', 'lemon', 'banana', 'cherry']

In [17]:
#Use negative indexing to print the last item in the list.
fruits[-1]

'cherry'

In [18]:
#Use a range of indexes to print the third, fourth, and fifth item in the following list:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
range_ = fruits[2:5]
range_

['cherry', 'orange', 'kiwi']

In [19]:
#Extend nested list by adding the sublist :
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [20]:
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']